h1{
    /* border-style: groove; */
    /* border-style: solid dotted inset groove; */
    /* border-style: solid dotted; */
    border-style: solid;
    /* border-width: 5px; */
    /* border-width: 5px 10px; */
    border-width: medium;
    border-color: crimson green;
    
}
 
h2{
    /* border-style: ridge; */
    /* inset,outset */
    border-style: dashed double;
}