table,td{
    border: 1px solid;
    vertical-align: bottom;
    border-collapse: collapse;
    
}
table{
    width: 300px;
}
tr{
    height: 50px;
}

thead td{
    text-align: center;
    font-weight: bold;
}
td:hover{
    background-color: brown;
}

tr:nth-child(even){
    background-color: chocolate;
}